<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" >
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.html" >
    <link rel="icon" type="image/png" href="../assets/img/favicon.png" >
    <meta http-equiv="X-UA-Compatible" content="IE=edge" >

    <title>{% block title %} |Digital Work{% endblock %}</title>
    
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' name='viewport' >
    <meta name="viewport" content="width=device-width" >
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    
    <!--  Material Dashboard CSS    -->
    
    {% block stylesheets %}
        <script src="{{ asset('assets/vendors/jquery-3.1.1.min.js') }}"></script>
        <script src="{{ asset('assets/vendors/underscore-min.js') }}"></script>
        
        <link href="{{ asset('assets/css/bootstrap.min.css')}}" rel='stylesheet' type='text/css' media="all">
        <link href="{{ asset('assets/css/amaze.css') }}" rel="stylesheet" />
        <!--     Fonts and icons     -->
        <link href="{{ asset('assets/css/font-awesome.min.css')}}" rel='stylesheet' type='text/css'>
        <link href="{{ asset('assets/css/font-muli.css')}}" rel='stylesheet' type='text/css'>
        <link href="{{ asset('assets/css/themify-icons.css')}}" rel="stylesheet" type='text/css'>
        <link href="{{ asset('assets/vendors/dropzone/dropzone.min.css')}}" rel="stylesheet">
        <link href="{{ asset('assets/vendors/sweetalert/css/sweetalert2.min.css')}}" rel="Stylesheet" >
        <link href="{{ asset('assets/vendors/jquery-ui-1.12.0/jquery-ui.css')}}" rel="Stylesheet" >
        <!-- product images switcher fotorama -->
        <link href="{{ asset('assets/vendors/fotorama/fotorama.css')}}" rel="Stylesheet" >
        <link href="{{ asset('assets/css/style.css')}}" rel="Stylesheet" media="all" >
        <link href="{{ asset('assets/css/print.css')}}" rel="Stylesheet" media="print" >
    {% endblock %}
</head>

<body>
    <div class="wrapper login">
        <div class="main-panel">
            <div class="content">
                {% block body %}{% endblock %}
            </div>
        </div>
    </div>
<!--   Core JS Files   -->
{% block javascripts %}
    <script src="{{ asset('assets/js/bootstrap.min.js') }}" ></script>
    <script src="{{ asset('assets/vendors/jquery-ui.min.js') }}" ></script>
    <script src="{{ asset('assets/vendors/jquery-ui-1.12.0/jquery-ui.js') }}" ></script>
    <script src="{{ asset('assets/vendors/material.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/perfect-scrollbar.jquery.min.js') }}"></script>

    <!-- Select Plugin -->
    <script src="{{ asset('assets/vendors/jquery.select-bootstrap.js') }}"></script>

    <!--  DataTables.net Plugin    -->
    <script src="{{ asset('assets/vendors/jquery.datatables.js') }}"></script>
    <!-- Sweet Alert 2 plugin -->
    <script src="{{ asset('assets/vendors/sweetalert/js/sweetalert2.min.js') }}"></script>
    <!--    Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
    <script src="{{ asset('assets/vendors/jasny-bootstrap.min.js') }}"></script>

    <!-- Material Dashboard javascript methods -->
    <script src="{{ asset('assets/js/amaze.js') }}"></script>

    <script src="{{ asset('assets/vendors/dropzone/dropzone.min.js') }}"></script>

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <!-- product images switcher smoothproduct -->
    <script src="{{ asset('assets/vendors/fotorama/fotorama.js') }}"></script>

    <script src="{{ asset('assets/js/custom.js') }}"></script>
{% endblock %}
</body>
</html>
