

{% extends 'base.html.twig' %}
{% block title %}Changement de passe{% endblock %}
{% block body %}
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="card">
                        {{ form_start(form) }}
                            <div class="content">
                                <h4 class="title text-center">Modifier votre mot de passe ! </h4>
                                <div class="form-group {{ form_errors(form.current_password) ? 'has-error': '' }}">
                                    <div class="row">
                                        <div class="col-md-4">
                                            {{ form_label(form.current_password, "Mot de passe actuel", {'label_attr': {'class': 'control-label'}}) }}
                                        </div>
                                        <div class="col-md-8">
                                            {{ form_widget(form.current_password, {'attr': {'class': 'form-control'}}) }}
                                            <span class="help-block">{{ form_errors(form.current_password) }}</span> 
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group {{ form_errors(form.plainPassword.first) ? 'has-error': '' }}">
                                    <div class="row">
                                        <div class="col-md-4">
                                            {{ form_label(form.plainPassword.first, "Nouveau mot de passe", {'label_attr': {'class': 'control-label'}}) }}
                                        </div>
                                        <div class="col-md-8">
                                            {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
                                            <span class="help-block">{{ form_errors(form.plainPassword.first) }}</span> 
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group {{ form_errors(form.plainPassword.second) ? 'has-error': '' }}">
                                    <div class="row">
                                        <div class="col-md-4">
                                            {{ form_label(form.plainPassword.second, "Confirmer", {'label_attr': {'class': 'control-label'}}) }}
                                        </div>
                                        <div class="col-md-8">
                                            {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
                                            <span class="help-block">{{ form_errors(form.plainPassword.second) }}</span> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer text-center">
                                <button type="submit" class="btn btn-info btn-fill"><i class="fa fa-plus"></i> Mettre à ajour</button>
                            </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

