{% extends 'base.html.twig' %}
{% block title %}Poduit{% endblock %}
{% block body %}
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{path('app_default_index')}}">Accueil</a></li>
                        <li class="breadcrumb-item"><a href="{{path('product_index')}}">Produits</a></li>
                        <li class="breadcrumb-item">{{product.name}}</li>
                    </ol>
                    <div class="card">
                        {{ form_start(edit_form) }}
                            <div class="content">
                                <h4 class="title text-center">Editer le produit </h4>
                                <div class="row">
                                    <div class="col-md-6 form-group {{ form_errors(edit_form.name) ? 'has-error': '' }}">
                                        <div class="row">
                                            <div class="col-md-4">
                                                {{ form_label(edit_form.name, "Article", {'label_attr': {'class': 'control-label'}}) }}
                                            </div>
                                            <div class="col-md-8">
                                                {{ form_widget(edit_form.name, {'attr': {'class': 'form-control'}}) }}
                                                <span class="help-block">{{ form_errors(edit_form.name) }} </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 form-group {{ form_errors(edit_form.description) ? 'has-error': '' }}">
                                        <div class="row">
                                            <div class="col-md-4">
                                                {{ form_label(edit_form.description, "Description", {'label_attr': {'class': 'control-label'}}) }}
                                            </div>
                                            <div class="col-md-8">
                                                {{ form_widget(edit_form.description, {'attr': {'class': 'form-control'}}) }}
                                                <span class="help-block">{{ form_errors(edit_form.description) }}</span> 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 form-group ">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label>Categorie</label>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="row">
                                                    <div class="col-md-10">
                                                        <select name="categories" id="categories" class="form-control" required="required">
                                                            <option value="">Choisissez la categorie</option>
                                                            {% for cat in categories %}
                                                                <option value="{{cat.id}}" {{ cat_selected == cat.id ? 'selected': '' }}> {{cat.name}} </option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                    <div class="col-md-2" id="loading-child-cat">
                                                        <img src="{{ asset('assets/img/loading.gif') }}" class="img-responsive" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 form-group ">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label>Sous categorie</label>
                                            </div>
                                            <div class="col-md-8">
                                                <span id="sub_cat_selected" data-sub-cat-selected="{{sub_cat_selected}}"></span>
                                                <select name="s_categories" id="s_categories" class="form-control">
                                                    <option value="0">Choisissez sous categorie</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 form-group {{ form_errors(edit_form.sizeInch) ? 'has-error': '' }}">
                                        <div class="row">
                                            <div class="col-md-4">
                                                {{ form_label(edit_form.sizeInch, "Taille (inch)", {'label_attr': {'class': 'control-label'}}) }}
                                            </div>
                                            <div class="col-md-8">
                                                {{ form_widget(edit_form.sizeInch, {'attr': {'class': 'form-control'}}) }}
                                                <span class="help-block">{{ form_errors(edit_form.sizeInch) }}</span> 
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 form-group {{ form_errors(edit_form.sizeCm) ? 'has-error': '' }}">
                                        <div class="row">
                                            <div class="col-md-4">
                                                {{ form_label(edit_form.sizeCm, "Taille (cm)", {'label_attr': {'class': 'control-label'}}) }}
                                            </div>
                                            <div class="col-md-8">
                                                {{ form_widget(edit_form.sizeCm, {'attr': {'class': 'form-control'}}) }}
                                                <span class="help-block">{{ form_errors(edit_form.sizeCm) }} </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 form-group {{ form_errors(edit_form.color) ? 'has-error': '' }}">
                                        <div class="row">
                                            <div class="col-md-4">
                                                {{ form_label(edit_form.color, "Couleur", {'label_attr': {'class': 'control-label'}}) }}
                                            </div>
                                            <div class="col-md-8">
                                                {{ form_widget(edit_form.color, {'attr': {'class': 'form-control'}}) }}
                                                <span class="help-block">{{ form_errors(edit_form.color) }}</span> 
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 form-group {{ form_errors(edit_form.weight) ? 'has-error': '' }}">
                                        <div class="row">
                                            <div class="col-md-4">
                                                {{ form_label(edit_form.weight, "Poids", {'label_attr': {'class': 'control-label'}}) }}
                                            </div>
                                            <div class="col-md-8">
                                                {{ form_widget(edit_form.weight, {'attr': {'class': 'form-control'}}) }}
                                                <span class="help-block">{{ form_errors(edit_form.weight) }}</span> 
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="row">
                                    <div class="col-md-6 form-group {{ form_errors(edit_form.form) ? 'has-error': '' }}">
                                        <div class="row">
                                            <div class="col-md-4">
                                                {{ form_label(edit_form.form, "Forme", {'label_attr': {'class': 'control-label'}}) }}
                                            </div>
                                            <div class="col-md-8">
                                                {{ form_widget(edit_form.form, {'attr': {'class': 'form-control'}}) }}
                                                <span class="help-block">{{ form_errors(edit_form.form) }}</span> 
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 form-group {{ form_errors(edit_form.composition) ? 'has-error': '' }}">
                                        <div class="row">
                                            <div class="col-md-4">
                                                {{ form_label(edit_form.composition, "Composition", {'label_attr': {'class': 'control-label'}}) }}
                                            </div>
                                            <div class="col-md-8">
                                                {{ form_widget(edit_form.composition, {'attr': {'class': 'form-control'}}) }}
                                                <span class="help-block">{{ form_errors(edit_form.composition) }}</span> 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 form-group {{ form_errors(edit_form.images) ? 'has-error': '' }}">
                                        <div class="row">
                                            <div class="col-md-4">
                                                {{ form_label(edit_form.images, "Images", {'label_attr': {'class': 'control-label'}}) }}
                                            </div>
                                            <div class="col-md-8">
                                                {{ form_widget(edit_form.images, {'attr': {'class': 'form-control'}}) }}
                                                <span class="help-block">{{ form_errors(edit_form.images) }}</span> 
                                                {% for image in product.images %}
                                                <div class="media" id="media-{{image.id}}">
                                                    <a data-id="{{ image.id }}" class="remove-img-link btn btn-simple btn-danger btn-icon btn-fill pull-right" title="Remove this image">X</a>
                                                    <img src="{{ asset('uploads/images/' ~ image.path) }}" alt="image" width="60" class="img-responsive inline-block" title="{{image.path}}">
                                                    <span id="csrf_token" data-token="{{ csrf_token('form') }}"></span>
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 form-group {{ form_errors(edit_form.collection) ? 'has-error': '' }}">
                                        <div class="row">
                                            <div class="col-md-4">
                                                {{ form_label(edit_form.collection, "Collection", {'label_attr': {'class': 'control-label'}}) }}
                                            </div>
                                            <div class="col-md-8">
                                                {{ form_widget(edit_form.collection, {'attr': {'class': 'form-control'}}) }}
                                                <span class="help-block">{{ form_errors(edit_form.collection) }}</span> 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 form-group {{ form_errors(edit_form.unitPrice) ? 'has-error': '' }}">
                                        <div class="row">
                                            <div class="col-md-4">
                                                {{ form_label(edit_form.unitPrice, "Prix unitaire", {'label_attr': {'class': 'control-label'}}) }}
                                            </div>
                                            <div class="col-md-8">
                                                <div class="row">
                                                    <div class="col-md-9">
                                                        {{ form_widget(edit_form.unitPrice, {'attr': {'class': 'form-control'}})}}
                                                    </div>
                                                    <div class="col-md-3">
                                                        {{ form_widget(edit_form.currency, {'attr': {'class': 'form-control price'}}) }}
                                                    </div>
                                                </div>
                                                <span class="help-block">{{ form_errors(edit_form.unitPrice) }}</span> 
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 form-group {{ form_errors(edit_form.wholesalePrice) ? 'has-error': '' }}">
                                        <div class="row">
                                            <div class="col-md-4">
                                                {{ form_label(edit_form.wholesalePrice, "Prix grossiste", {'label_attr': {'class': 'control-label'}}) }}
                                            </div>
                                            <div class="col-md-8">
                                                {{ form_widget(edit_form.wholesalePrice, {'attr': {'class': 'form-control'}}) }}
                                                <span class="help-block">{{ form_errors(edit_form.wholesalePrice) }}</span> 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-md-6 form-group {{ form_errors(edit_form.specialPrice) ? 'has-error': '' }}">
                                        <div class="row">
                                            <div class="col-md-4">
                                                {{ form_label(edit_form.specialPrice, "Prix MP", {'label_attr': {'class': 'control-label'}}) }}
                                            </div>
                                            <div class="col-md-8">
                                                {{ form_widget(edit_form.specialPrice, {'attr': {'class': 'form-control'}}) }}
                                                <span class="help-block">{{ form_errors(edit_form.specialPrice) }}</span> 
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 form-group {{ form_errors(edit_form.internetPrice) ? 'has-error': '' }}">
                                        <div class="row">
                                            <div class="col-md-4">
                                                {{ form_label(edit_form.internetPrice, " prix internet", {'label_attr': {'class': 'control-label'}}) }}
                                            </div>
                                            <div class="col-md-8">
                                                {{ form_widget(edit_form.internetPrice, {'attr': {'class': 'form-control'}}) }}
                                                <span class="help-block">{{ form_errors(edit_form.internetPrice) }}</span> 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-md-6 form-group {{ form_errors(edit_form.packages) ? 'has-error': '' }}">
                                        <div class="row">
                                            <div class="col-md-4">
                                                {{ form_label(edit_form.packages, "Emballage", {'label_attr': {'class': 'control-label'}}) }}
                                            </div>
                                            <div class="col-md-8">
                                                {{ form_widget(edit_form.packages, {'attr': {'class': 'form-control'}}) }}
                                                <span class="help-block">{{ form_errors(edit_form.packages) }}</span> 
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 form-group {{ form_errors(edit_form.providers) ? 'has-error': '' }}">
                                        <div class="row">
                                            <div class="col-md-4">
                                                {{ form_label(edit_form.providers, "Fournisseur", {'label_attr': {'class': 'control-label'}}) }}
                                            </div>
                                            <div class="col-md-8">
                                                {{ form_widget(edit_form.providers, {'attr': {'class': 'form-control'}}) }}
                                                <span class="help-block">{{ form_errors(edit_form.providers) }}</span> 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 form-group {{ form_errors(edit_form.status) ? 'has-error': '' }}">
                                        <div class="row">
                                            <div class="col-md-4">
                                                {{ form_label(edit_form.status, "Status", {'label_attr': {'class': 'control-label'}}) }}
                                            </div>
                                            <div class="col-md-8">
                                                {{ form_widget(edit_form.status, {'attr': {'class': 'form-control'}}) }}
                                                <span class="help-block">{{ form_errors(edit_form.status) }}</span> 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer text-center">
                                <button type="submit" class="btn btn-info btn-fill"><i class="fa fa-edit"></i> Mettre à jour </button>
                            </div>
                        {{ form_end(edit_form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
