{% extends 'base.html.twig' %}

{% block body %}
    <h1>Products list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Sizeinch</th>
                <th>Sizecm</th>
                <th>Color</th>
                <th>Composition</th>
                <th>Form</th>
                <th>Weight</th>
                <th>Unitprice</th>
                <th>Wholesaleprice</th>
                <th>Specialprice</th>
                <th>Internetprice</th>
                <th>Active</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td><a href="{{ path('product_show', { 'id': product.id }) }}">{{ product.id }}</a></td>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.sizeInch }}</td>
                <td>{{ product.sizeCm }}</td>
                <td>{{ product.color }}</td>
                <td>{{ product.composition }}</td>
                <td>{{ product.form }}</td>
                <td>{{ product.weight }}</td>
                <td>{{ product.unitPrice }}</td>
                <td>{{ product.wholesalePrice }}</td>
                <td>{{ product.specialPrice }}</td>
                <td>{{ product.internetPrice }}</td>
                <td>{% if product.active %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('product_show', { 'id': product.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('product_edit', { 'id': product.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('product_new') }}">Create a new product</a>
        </li>
    </ul>
{% endblock %}
