{% extends 'base.html.twig' %} 
{% block title %}{{'product.page.title'|trans}}{% endblock %}
{% block body %}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <span id="locale" data-locale="{{ app.request.locale }}"></span>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{path('app_default_index')}}">{{'breadcrumb.home'|trans}}</a></li>
                    <li class="breadcrumb-item"><a href="{{path('product_index')}}">{{'product.breadcrumb.products'|trans}}</a></li>
                </ol>
                <div class="card">
                    <div class="content products">
                        
                        {% for flashMessage in app.session.flashbag.get('editProduct') %}
                            <div class="alert alert-{{ flashMessage.alert }} alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert">
                                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                                </button>
                                <strong>{{'success.title'|trans}}</strong> {{'product.edit.flush.success'|trans}} <a href="{{flashMessage.url}}">{{'product.show'|trans}}</a>
                            </div>
                        {% endfor %}

                        {% for flashMessage in app.session.flashbag.get('addProduct') %}
                            <div class="alert alert-{{ flashMessage.alert }} alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert">
                                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                                </button>
                                <strong>{{'success.title'|trans}}</strong> {{'product.add.flush.success'|trans}} <a href="{{flashMessage.url}}">{{'product.show'|trans}}</a>
                            </div>
                        {% endfor %}
                        

                        <h4 class="title"><i class="fa fa-list"></i> {{'product.index.title'|trans}} 
                        {% if is_granted('ROLE_USER') %}
                            <a href=" {{path('product_new')}} " class="btn btn-primary pull-right"><i class="fa fa-plus"></i> {{'btn.new'|trans}} </a>
                        {% endif %}
                        </h4>
                        <div class="toolbar">
                            
                        </div>
                        
                        <div class="material-datatables product-table">
                            <div class="row">
                                <div class="col-md-4 filter">
                                    <div class="row">
                                        <div class="col-md-10">
                                            <select name="filter-by-cat" id="categories" class="form-control">
                                                <option value="0">{{'product.index.filter_by_cat'|trans}}</option>
                                                {% for cat in categories %}
                                                <option value="{{cat.id}}">{{ cat.name }}</option>
                                                {% endfor %} 
                                            </select>
                                        </div>
                                        <div class="col-md-2" id="loading-cat">
                                            <img src="{{ asset('assets/img/loading.gif') }}" class="img-responsive" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-md-10">
                                            <select name="filter-by-prov" id="s_categories" class="form-control">
                                                <option value="0">{{'product.index.filter_by_sub_cat'|trans}}</option>
                                                {% for sub in sub_categories %}
                                                <option value="{{sub.id}}">{{ sub.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-md-2" id="loading-sub-cat">
                                            <img src="{{ asset('assets/img/loading.gif') }}" class="img-responsive" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-md-10">
                                            <select name="filter-by-prov" id="filter-by-prov" class="form-control">
                                                <option value="0">{{'product.index.filter_by_prov'|trans}}</option>
                                                {% for prov in providers %}
                                                <option value="{{prov.id}}">{{ prov.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-md-2" id="loading-prov">
                                            <img src="{{ asset('assets/img/loading.gif') }}" class="img-responsive" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="filter-column">
                                <div class="entete">
                                    <span><i class="fa fa-filter fa-2x"></i></span>
                                </div>
                                <div class="fieldtoshow">
                                    <div class="checkbox-field">
                                        <input type="checkbox" id="id" name="id" checked="checked">
                                        <label for="id">{{'product.label.id'|trans}}</label>
                                    </div>
                                    <div class="checkbox-field">
                                        <input type="checkbox" id="sku" name="sku" checked="checked">
                                        <label for="sku">SKU</label>
                                    </div>
                                    <div class="checkbox-field">
                                        <input type="checkbox" id="photo" name="photo" checked="checked">
                                        <label for="photo">{{'product.label.photo'|trans}}</label>
                                    </div>
                                    <div class="checkbox-field">
                                        <input type="checkbox" id="article" name="article" checked="checked">
                                        <label for="article">{{'product.label.name'|trans}}</label>
                                    </div>
                                    <div class="checkbox-field">
                                        <input type="checkbox" id="categorie" name="categorie" checked="checked">
                                        <label for="categorie">{{'product.label.category'|trans}}</label>
                                    </div>
                                    <div class="checkbox-field">
                                        <input type="checkbox" id="sub_category" name="sub_category" checked="checked">
                                        <label for="sub_category">{{'product.label.sub_category'|trans}}</label>
                                    </div>
                                    <div class="checkbox-field">
                                        <input type="checkbox" id="description" name="description">
                                        <label for="description">{{'product.label.description'|trans}}</label>
                                    </div>
                                    <div class="checkbox-field">
                                        <input type="checkbox" id="sizeInch" name="sizeInch">
                                        <label for="sizeInch">{{'product.label.sizeInch'|trans}}</label>
                                    </div>
                                    <div class="checkbox-field">
                                        <input type="checkbox" id="sizeCm" name="sizeCm">
                                        <label for="sizeCm">{{'product.label.sizeCm'|trans}}</label>
                                    </div>
                                    <div class="checkbox-field">
                                        <input type="checkbox" id="color" name="color">
                                        <label for="color">{{'product.label.color'|trans}}</label>
                                    </div>
                                    <div class="checkbox-field">
                                        <input type="checkbox" id="composition" name="composition">
                                        <label for="composition">{{'product.label.composition'|trans}}</label>
                                    </div>
                                    <div class="checkbox-field">
                                        <input type="checkbox" id="form" name="form">
                                        <label for="form">{{'product.label.form'|trans}}</label>
                                    </div>
                                    <div class="checkbox-field">
                                        <input type="checkbox" id="weight" name="weight">
                                        <label for="weight">{{'product.label.weight'|trans}}</label>
                                    </div>
                                    <div class="checkbox-field">
                                        <input type="checkbox" id="provider" name="provider" checked="checked">
                                        <label for="provider">{{'product.label.provider'|trans}}</label>
                                    </div>
                                    <div class="checkbox-field">
                                        <input type="checkbox" id="package" name="package">
                                        <label for="package">{{'product.label.package'|trans}}</label>
                                    </div>
                                    <div class="checkbox-field">
                                        <input type="checkbox" id="collection" name="collection" checked="checked">
                                        <label for="collection">{{'product.label.collection'|trans}}</label>
                                    </div>                                  
                                    <div class="checkbox-field">
                                        <input type="checkbox" id="unitPrice" name="unitPrice">
                                        <label for="unitPrice">{{'product.label.unitPrice'|trans}}</label>
                                    </div>
                                    <div class="checkbox-field">
                                        <input type="checkbox" id="wholesalePrice" name="wholesalePrice">
                                        <label for="wholesalePrice">{{'product.label.wholesalePrice'|trans}}</label>
                                    </div>
                                    <div class="checkbox-field">
                                        <input type="checkbox" id="specialPrice" name="specialPrice">
                                        <label for="specialPrice">{{'product.label.specialPrice'|trans}}</label>
                                    </div>
                                    <div class="checkbox-field">
                                        <input type="checkbox" id="internetPrice" name="internetPrice">
                                        <label for="internetPrice">{{'product.label.internetPrice'|trans}}</label>
                                    </div>
                                    <div class="checkbox-field">
                                        <input type="checkbox" id="status" name="status" checked="checked">
                                        <label for="status">{{'product.label.status'|trans}}</label>
                                    </div>
                                </div>
                            </div>
                            {% include 'product/results.html.twig' %}
                        </div>
                    </div>
                    <!-- end content-->
                </div>
                <!--  end card  -->
            </div>
            <!-- end col-md-12 -->
        </div>
    </div>
</div>
<script src="{{ asset('assets/js/product.js') }}"></script>

{% endblock %}