{% extends 'base.html.twig' %}
{% block title %}{{'product.page.title'|trans}}{% endblock %}
{% block body %}
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <span id="locale" data-locale="{{ app.request.locale }}"></span>
                    <div class="card">
                        {{ form_start(form, {'attr': {'class':'test', 'id':'test'}}) }}
                            <div class="content">
                                <h4 class="title text-center">{{'product.action.add.title'|trans}}</h4>

                                <div class="row">
                                    <div class="col-md-6 form-group {{ form_errors(form.name) ? 'has-error': '' }}">
                                        <div class="row">
                                            <div class="col-md-4">
                                                {{ form_label(form.name, "Article", {'label_attr': {'class': 'control-label'}}) }}
                                            </div>
                                            <div class="col-md-8">
                                                {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                                                <span class="help-block">{{ form_errors(form.name) }}</span> 
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 form-group {{ form_errors(form.sku) ? 'has-error': '' }}">
                                        <div class="row">
                                            <div class="col-md-4">
                                                {{ form_label(form.sku, "SKU", {'label_attr': {'class': 'control-label'}}) }}
                                            </div>
                                            <div class="col-md-8">
                                                {{ form_widget(form.sku, {'attr': {'class': 'form-control'}}) }}
                                                <span class="help-block">{{ form_errors(form.sku) }}</span> 
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="row">
                                    <div class="col-md-6 form-group">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label>{{'product.label.category'|trans}}</label>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="row">
                                                    <div class="col-md-10">
                                                        <select name="categories" id="categories" class="form-control" required="required" data-locale="{{ app.request.locale }}">
                                                            <option value="">{{'product.index.filter_by_cat'|trans}}</option>
                                                            {% for cat in categories %}
                                                                <option value="{{cat.id}}"> {{cat.name}} </option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                    <div class="col-md-2" id="loading-child-cat">
                                                        <img src="{{ asset('assets/img/loading.gif') }}" class="img-responsive" alt="">
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label>{{'product.label.sub_category'|trans}}</label>
                                            </div>
                                            <div class="col-md-8">
                                                <select name="s_categories" id="s_categories" class="form-control" >
                                                    <option value="">{{'product.index.filter_by_sub_cat'|trans}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 form-group {{ form_errors(form.sizeInch) ? 'has-error': '' }}" id="sizeInchdiv">
                                        <div class="row">
                                            <div class="col-md-4">
                                                {{ form_label(form.sizeInch, 'product.label.sizeInch', {'label_attr': {'class': 'control-label'}})|trans | raw }}
                                            </div>
                                            <div class="col-md-8">
                                                {{ form_widget(form.sizeInch, {'attr': {'class': 'form-control'}}) }}
                                                <span class="help-block" id="sizeInchError">{{ form_errors(form.sizeInch) }}</span> 
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 form-group {{ form_errors(form.sizeCm) ? 'has-error': '' }}" id="sizeCmdiv">
                                        <div class="row">
                                            <div class="col-md-4">
                                                {{ form_label(form.sizeCm, 'product.label.sizeCm', {'label_attr': {'class': 'control-label'}})|trans | raw  }}
                                            </div>
                                            <div class="col-md-8">
                                                {{ form_widget(form.sizeCm, {'attr': {'class': 'form-control'}}) }}
                                                <span class="help-block" id="sizeCmError">{{ form_errors(form.sizeCm) }}</span> 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 form-group {{ form_errors(form.color) ? 'has-error': '' }}">
                                        <div class="row">
                                            <div class="col-md-4">
                                                {{ form_label(form.color, 'product.label.color', {'label_attr': {'class': 'control-label'}})|trans | raw }}
                                            </div>
                                            <div class="col-md-8">
                                                {{ form_widget(form.color, {'attr': {'class': 'form-control'}}) }}
                                                <span class="help-block">{{ form_errors(form.color) }}</span> 
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 form-group {{ form_errors(form.weight) ? 'has-error': '' }}">
                                        <div class="row">
                                            <div class="col-md-4">
                                                {{ form_label(form.weight, 'product.label.weight', {'label_attr': {'class': 'control-label'}})|trans | raw }}
                                            </div>
                                            <div class="col-md-8">
                                                {{ form_widget(form.weight, {'attr': {'class': 'form-control'}}) }}
                                                <span class="help-block">{{ form_errors(form.weight) }}</span> 
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="row">
                                    <div class="col-md-6 form-group {{ form_errors(form.form) ? 'has-error': '' }}">
                                        <div class="row">
                                            <div class="col-md-4">
                                                {{ form_label(form.form, 'product.label.form', {'label_attr': {'class': 'control-label'}})|trans | raw }}
                                            </div>
                                            <div class="col-md-8">
                                                {{ form_widget(form.form, {'attr': {'class': 'form-control'}}) }}
                                                <span class="help-block">{{ form_errors(form.form) }}</span> 
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 form-group {{ form_errors(form.composition) ? 'has-error': '' }}">
                                        <div class="row">
                                            <div class="col-md-4">
                                                {{ form_label(form.composition, "Composition", {'label_attr': {'class': 'control-label'}}) }}
                                            </div>
                                            <div class="col-md-8">
                                                {{ form_widget(form.composition, {'attr': {'class': 'form-control'}}) }}
                                                <span class="help-block">{{ form_errors(form.composition) }}</span> 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 form-group {{ form_errors(form.images) ? 'has-error': '' }}">
                                        <div class="row">
                                            <div class="col-md-4">
                                                {{ form_label(form.images, "Images", {'label_attr': {'class': 'control-label'}}) }}
                                            </div>
                                            <div class="col-md-8">
                                                <span class="help-block">{{ form_errors(form.images) }}</span> 
                                                {{ form_widget(form.images, {'attr': {'class': 'form-control'}}) }}                        
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 form-group {{ form_errors(form.collection) ? 'has-error': '' }}">
                                        <div class="row">
                                            <div class="col-md-4">
                                                {{ form_label(form.collection, "Collection", {'label_attr': {'class': 'control-label'}}) }}
                                            </div>
                                            <div class="col-md-8">
                                                {{ form_widget(form.collection, {'attr': {'class': 'form-control'}}) }}
                                                <span class="help-block">{{ form_errors(form.collection) }}</span> 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 form-group {{ form_errors(form.unitPrice) ? 'has-error': '' }}">
                                        <div class="row">
                                            <div class="col-md-4">
                                                {{ form_label(form.unitPrice, 'product.label.unitPrice', {'label_attr': {'class': 'control-label'}})|trans | raw }}
                                            </div>
                                            <div class="col-md-8">
                                                <div class="row">
                                                    <div class="col-md-9">
                                                        {{ form_widget(form.unitPrice, {'attr': {'class': 'form-control'}}) }}
                                                    </div>
                                                    <div class="col-md-3">
                                                        {{ form_widget(form.currency, {'attr': {'class': 'form-control price'}}) }}
                                                    </div>
                                                </div>
                                                <span class="help-block">{{ form_errors(form.unitPrice) }}</span> 
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 form-group {{ form_errors(form.wholesalePrice) ? 'has-error': '' }}">
                                        <div class="row">
                                            <div class="col-md-4">
                                                {{ form_label(form.wholesalePrice, 'product.label.wholesalePrice', {'label_attr': {'class': 'control-label'}})|trans | raw }}
                                            </div>
                                            <div class="col-md-8">
                                                {{ form_widget(form.wholesalePrice, {'attr': {'class': 'form-control'}}) }}
                                                <span class="help-block">{{ form_errors(form.wholesalePrice) }}</span> 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 form-group {{ form_errors(form.specialPrice) ? 'has-error': '' }}">
                                        <div class="row">
                                            <div class="col-md-4">
                                                {{ form_label(form.specialPrice, 'product.label.specialPrice', {'label_attr': {'class': 'control-label'}})|trans | raw }}
                                            </div>
                                            <div class="col-md-8">
                                                {{ form_widget(form.specialPrice, {'attr': {'class': 'form-control'}}) }}
                                                <span class="help-block">{{ form_errors(form.specialPrice) }}</span> 
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 form-group {{ form_errors(form.internetPrice) ? 'has-error': '' }}">
                                        <div class="row">
                                            <div class="col-md-4">
                                                {{ form_label(form.internetPrice, 'product.label.internetPrice', {'label_attr': {'class': 'control-label'}})|trans | raw }}
                                            </div>
                                            <div class="col-md-8">
                                                {{ form_widget(form.internetPrice, {'attr': {'class': 'form-control'}}) }}
                                                <span class="help-block">{{ form_errors(form.internetPrice) }}</span> 
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 form-group {{ form_errors(form.packages) ? 'has-error': '' }}">
                                        <div class="row">
                                            <div class="col-md-4">
                                                {{ form_label(form.packages, 'product.label.package', {'label_attr': {'class': 'control-label'}})|trans | raw }}
                                            </div>
                                            <div class="col-md-8">
                                                {{ form_widget(form.packages, {'attr': {'class': 'form-control'}}) }}
                                                <span class="help-block">{{ form_errors(form.packages) }}</span> 
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 form-group {{ form_errors(form.providers) ? 'has-error': '' }}">
                                        <div class="row">
                                            <div class="col-md-4">
                                                {{ form_label(form.providers, 'product.label.provider', {'label_attr': {'class': 'control-label'}})|trans | raw }}
                                            </div>
                                            <div class="col-md-8">
                                                {{ form_widget(form.providers, {'attr': {'class': 'form-control'}})|trans | raw }}
                                                <span class="help-block">{{ form_errors(form.providers) }}</span> 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 form-group {{ form_errors(form.status) ? 'has-error': '' }}">
                                        <div class="row">
                                            <div class="col-md-4">
                                                {{ form_label(form.status, 'label.status', {'label_attr': {'class': 'control-label'}})|trans | raw }}
                                            </div>
                                            <div class="col-md-8">
                                                {{ form_widget(form.status, {'attr': {'class': 'form-control'}}) }}
                                                <span class="help-block">{{ form_errors(form.status) }}</span> 
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 form-group {{ form_errors(form.description) ? 'has-error': '' }}">
                                        <div class="row">
                                            <div class="col-md-4">
                                                {{ form_label(form.description, "Description (max:648 ltr)", {'label_attr': {'class': 'control-label'}}) }}
                                            </div>
                                            <div class="col-md-8">
                                                {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
                                                <span class="help-block">{{ form_errors(form.description) }}</span> 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer text-center">
                                <button type="submit" id="submit-data" class="btn btn-info btn-fill"><i class="fa fa-plus"></i> {{'btn.add'|trans}}</button>
                            </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}
