{% extends 'base.html.twig' %}
{% block title %}{{'product.page.title'|trans}}{% endblock %}
{% block body %}
    <div class="content details">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{path('app_default_index')}}">{{'breadcrumb.home'|trans}}</a></li>
                        <li class="breadcrumb-item"><a href="{{path('product_index')}}">{{'product.breadcrumb.products'|trans}}</a></li>
                        <li class="breadcrumb-item active">{{product.name}}</li>
                    </ol>
                    <div class="card">
                        <div class="row">
                            <div class="col-md-12">
                                <a href="#" OnClick="javascript:window.print()" class="pull-right printIcon" title="Imprimer"><i class="fa fa-print fa-2x"></i></a>
                                <div class="product-title">
                                    <h4>{{product.name}}
                                        <a href="{{ path('product_edit', { 'id': product.id }) }}" data-toggle="tooltip" data-placement="bottom" title="{{'product.show.pencil.hover'|trans}}" class="editIcon">
                                            <i class="glyphicon glyphicon-pencil"></i>
                                        </a>
                                    </h4> 
                                    
                                    <p>{{'product.label.id'|trans}} : {{product.codeBar}} <span class="sku">{% if product.sku is not empty %} SKU : {{product.sku}} {% else %} {% endif %}</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-5 details">
                                <span class="detail-title"> Details </span>
                                <div class="detail-hr">
                                    <span class="delimeter"></span>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <div class="item">
                                            <span> {{'product.label.sizeInch'|trans}} : </span>
                                            {{ product.sizeInch ? product.sizeInch : '---' }}
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <div class="item">
                                            <span> {{'product.label.color'|trans}} : </span>
                                            <div class="color" style="background: {{ product.color }}">
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <div class="item">
                                            <span> {{'product.label.sizeCm'|trans}} : </span>
                                            {{ product.sizeCm ? product.sizeCm : '---' }}
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <div class="item">
                                            <span> {{'product.label.weight'|trans}} : </span>
                                            {{ product.weight ? product.weight : '---' }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <div class="item">
                                            <span> {{'product.label.composition'|trans}} : </span>
                                            {{ product.composition ? product.composition : '---' }}
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <div class="item">
                                            <span> {{'product.label.form'|trans}} : </span>
                                            {{ product.form ? product.form : '---' }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <div class="item">
                                            <span> {{'product.label.collection'|trans}} : </span>
                                            {{ product.collection ? product.collection : '---' }} 
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <div class="item">
                                            <span> {{'product.label.unitPrice'|trans}} : </span>
                                            {{ product.unitPrice ? product.unitPrice : '---' }}
                                            {{ product.currency }}
                                            <i class="fa fa-history" id="unitPriceIcon" title="Cliquer pour consulter les anciens prix"></i>
                                            <select name="pricelog" class="form-control" id="unitPriceLogSelect">
                                                {% set newArray = [] %}
                                                {% for price in priceslog %}
                                                    {% if price.unitPrice != NULL and price.unitPrice not in newArray %}
                                                        <option {% if product.unitPrice == price.unitPrice %} selected {% endif %}>{{ price.unitPrice }}</option>
                                                        {% set newArray = newArray|merge([price.unitPrice]) %}
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <div class="item">
                                            <span> {{'product.label.wholesalePrice'|trans}} : </span>
                                            {{ product.wholesalePrice ? product.wholesalePrice : '---' }}
                                            {{ product.currency }}
                                            <i class="fa fa-history" id="wholesalePriceIcon" title="Cliquer pour consulter les anciens prix"></i> 
                                            <select name="pricelog" class="form-control" id="wholesalePriceSelect">
                                                {% set newArray = [] %}
                                                {% for price in priceslog %}
                                                    {% if price.wholesalePrice != NULL and price.wholesalePrice not in newArray %}
                                                        <option {% if product.wholesalePrice == price.wholesalePrice %} selected {% endif %}>{{ price.wholesalePrice }}</option>
                                                        {% set newArray = newArray|merge([price.wholesalePrice]) %}
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <div class="item">
                                            <span> {{'product.label.specialPrice'|trans}} : </span>
                                            {{ product.specialPrice ? product.specialPrice : '---' }}
                                            {{ product.currency }}
                                            <i class="fa fa-history" id="specialPriceIcon" title="Cliquer pour consulter les anciens prix"></i> 
                                            <select name="pricelog" class="form-control" id="specialPriceSelect">
                                                {% set newArray = [] %}
                                                {% for price in priceslog %}
                                                    {% if price.specialPrice != NULL and price.specialPrice not in newArray %}
                                                        <option {% if product.specialPrice == price.specialPrice %} selected {% endif %}>{{ price.specialPrice }}</option>
                                                        {% set newArray = newArray|merge([price.specialPrice]) %}
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <div class="item">
                                            <span>  {{'product.label.internetPrice'|trans}} : </span>
                                            {{ product.internetPrice ? product.internetPrice : '---' }}
                                            {{ product.currency }}
                                            <i class="fa fa-history" id="internetPriceIcon" title="Cliquer pour consulter les anciens prix"></i> 
                                            <select name="pricelog" class="form-control" id="internetPriceSelect">
                                                {% set newArray = [] %}
                                                {% for price in priceslog %}
                                                    {% if price.internetPrice != NULL and price.internetPrice not in newArray %}
                                                        <option {% if product.internetPrice == price.internetPrice %} selected {% endif %}>{{ price.internetPrice }}</option>
                                                        {% set newArray = newArray|merge([price.internetPrice]) %}
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <div class="item">
                                            <span> {{'product.label.category'|trans}} : </span>
                                            {% for cat in product.categories| slice(0,1) %}
                                                {{ cat.name ? cat.name : '---' }}
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <div class="item">
                                            <span> {{'product.label.sub_category'|trans}} : </span>
                                            {% for cat in product.categories | slice(1,2) %}
                                                {{ cat.parent != null ? cat.name : '---' }}
                                            {% endfor %}
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <div class="item">
                                            <span> {{'product.label.provider'|trans}} : </span>
                                            {% if product.providers is not empty  %}
                                                {% for prov in product.providers %}
                                                    {{ prov.name }}
                                                {% endfor %}
                                            {% else %}
                                                ---
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <div class="item">
                                            <span> {{'product.label.package'|trans}} : </span>
                                            {% if product.packages is not empty  %}
                                                {% for pack in product.packages %}
                                                    {{ pack.name }}
                                                {% endfor %}
                                            {% else %}
                                                ---
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <div class="item">
                                            <span> {{'label.status'|trans}} : </span>
                                            {% if product.status == "desactivé" %}
                                                <i class="fa fa-ban"></i>
                                            {% else %}
                                                {{ product.status ? product.status : '---' }}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="item">
                                            <span> {{'product.label.description'|trans}} : </span>
                                            <div class="description">
                                                <p>
                                                    {{ product.description ? product.description : '---' }}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-6 col-sm-6 col-xs-7 images">
                                {% if product.images is not empty  %}
                                    <div class="fotorama text-center" data-nav="thumbs" data-allowfullscreen="native" data-maxwidth="370">
                                        {% for image in product.images %}
                                            <img src="{{ asset('uploads/images/') ~ image.path }}" class="img-responsive" alt="">
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    <img src="{{ asset('assets/img/default-no-image.png') }}" class="img-circle" alt="img prod">
                                {% endif %}
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
