{% extends 'base.html.twig' %}
{% block title %}Fournisseur{% endblock %}
{% block body %}
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="card">
                        {{ form_start(edit_form) }}
                            <div class="content">
                                <h4 class="title text-center">Modifier le fournisseur</h4>
                                <div class="row">
                                    <div class="form-group col-md-6 {{ form_errors(edit_form.name) ? 'has-error': '' }}">
                                        <div class="row">
                                            <div class="col-md-4">
                                                {{ form_label(edit_form.name, "Nom", {'label_attr': {'class': 'control-label'}}) }}
                                            </div>
                                            <div class="col-md-8">
                                                {{ form_widget(edit_form.name, {'attr': {'class': 'form-control'}}) }}
                                                <span class="help-block">{{ form_errors(edit_form.name) }}</span> 
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6 {{ form_errors(edit_form.lastName) ? 'has-error': '' }}">
                                        <div class="row">
                                            <div class="col-md-4">
                                                {{ form_label(edit_form.lastName, "Prénom", {'label_attr': {'class': 'control-label'}}) }}
                                            </div>
                                            <div class="col-md-8">
                                                {{ form_widget(edit_form.lastName, {'attr': {'class': 'form-control'}}) }}
                                                <span class="help-block">{{ form_errors(edit_form.lastName) }}</span> 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6 {{ form_errors(edit_form.society) ? 'has-error': '' }}">
                                        <div class="row">
                                            <div class="col-md-4">
                                                {{ form_label(edit_form.society, "Société", {'label_attr': {'class': 'control-label'}}) }}
                                            </div>
                                            <div class="col-md-8">
                                                {{ form_widget(edit_form.society, {'attr': {'class': 'form-control'}}) }}
                                                <span class="help-block">{{ form_errors(edit_form.society) }}</span> 
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6 {{ form_errors(edit_form.activity) ? 'has-error': '' }}">
                                        <div class="row">
                                            <div class="col-md-4">
                                                {{ form_label(edit_form.activity, "Activité", {'label_attr': {'class': 'control-label'}}) }}
                                            </div>
                                            <div class="col-md-8">
                                                {{ form_widget(edit_form.activity, {'attr': {'class': 'form-control'}}) }}
                                                <span class="help-block">{{ form_errors(edit_form.activity) }}</span> 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6 {{ form_errors(edit_form.address) ? 'has-error': '' }}">
                                        <div class="row">
                                            <div class="col-md-4">
                                                {{ form_label(edit_form.address, "Addresse", {'label_attr': {'class': 'control-label'}}) }}
                                            </div>
                                            <div class="col-md-8">
                                                {{ form_widget(edit_form.address, {'attr': {'class': 'form-control'}}) }}
                                                <span class="help-block">{{ form_errors(edit_form.address) }}</span> 
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6 {{ form_errors(edit_form.tel) ? 'has-error': '' }}">
                                        <div class="row">
                                            <div class="col-md-4">
                                                {{ form_label(edit_form.tel, "Télephone", {'label_attr': {'class': 'control-label'}}) }}
                                            </div>
                                            <div class="col-md-8">
                                                {{ form_widget(edit_form.tel, {'attr': {'class': 'form-control'}}) }}
                                                <span class="help-block">{{ form_errors(edit_form.tel) }}</span> 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6 {{ form_errors(edit_form.email) ? 'has-error': '' }}">
                                        <div class="row">
                                            <div class="col-md-4">
                                                {{ form_label(edit_form.email, "E-mail", {'label_attr': {'class': 'control-label'}}) }}
                                            </div>
                                            <div class="col-md-8">
                                                {{ form_widget(edit_form.email, {'attr': {'class': 'form-control'}}) }}
                                                <span class="help-block">{{ form_errors(edit_form.email) }}</span> 
                                            </div>
                                        </div>
                                    </div>
                                
                                    <div class="form-group col-md-6 {{ form_errors(edit_form.active) ? 'has-error': '' }}">
                                        <div class="row">
                                            <div class="col-md-4">
                                                {{ form_label(edit_form.active, "Active", {'label_attr': {'class': 'control-label'}}) }}
                                            </div>
                                            <div class="col-md-8">
                                                <label class="checkbox">
                                                    <span class="icons">
                                                    <span class="first-icon fa fa-square"></span>
                                                    <span class="second-icon fa fa-check-square "></span>
                                                    {{ form_widget(edit_form.active, {'attr': {'class': ''}}) }}
                                                </label>
                                                <span class="help-block">{{ form_errors(edit_form.active) }} </span> 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row qualification">
                                    <h6>Qualification fournisseur</h6>
                                    <div class="col-md-6">
                                        <div class="col-md-4">
                                            <label class="control-label">Qualité</label>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="stars quality" data-value="{{provider.rateQuality}}">
                                                    <input class="star star-5-q" id="star-5-q" type="radio" name="star-q" value="5" />
                                                    <label class="star star-5-q" for="star-5-q" title=" Qualité 5/5"></label>
                                                    <input class="star star-4-q" id="star-4-q" type="radio" name="star-q" value="4"/>
                                                    <label class="star star-4-q" for="star-4-q" title=" Qualité 4/5"></label>
                                                    <input class="star star-3-q" id="star-3-q" type="radio" name="star-q" value="3"/>
                                                    <label class="star star-3-q" for="star-3-q" title=" Qualité 3/5"></label>
                                                    <input class="star star-2-q" id="star-2-q" type="radio" name="star-q" value="2"/>
                                                    <label class="star star-2-q" for="star-2-q" title=" Qualité 2/5"></label>
                                                    <input class="star star-1-q" id="star-1-q" type="radio" name="star-q" value="1"/>
                                                    <label class="star star-1-q" for="star-1-q" title=" Qualité 1/5"></label>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="col-md-4">
                                            <label class="control-label">Rapport Qualité prix</label>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="stars qualityPrice" data-value="{{provider.rateQualityPrice}}">

                                                    <input class="star star-5-rqp" id="star-5-rqp" type="radio" name="star-rqp" value="5"/>
                                                    <label class="star star-5-rqp" for="star-5-rqp"></label>
                                                    <input class="star star-4-rqp" id="star-4-rqp" type="radio" name="star-rqp" value="4"/>
                                                    <label class="star star-4-rqp" for="star-4-rqp"></label>
                                                    <input class="star star-3-rqp" id="star-3-rqp" type="radio" name="star-rqp" value="3"/>
                                                    <label class="star star-3-rqp" for="star-3-rqp"></label>
                                                    <input class="star star-2-rqp" id="star-2-rqp" type="radio" name="star-rqp" value="2"/>
                                                    <label class="star star-2-rqp" for="star-2-rqp"></label>
                                                    <input class="star star-1-rqp" id="star-1-rqp" type="radio" name="star-rqp" value="1"/>
                                                    <label class="star star-1-rqp" for="star-1-rqp"></label>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="col-md-4">
                                            <label class="control-label">Délais de livraison</label>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="stars delivery" data-value="{{provider.rateDelivery}}">

                                                    <input class="star star-5-dl" id="star-5-dl" type="radio" name="star-dl" value="5"/>
                                                    <label class="star star-5-dl" for="star-5-dl"></label>
                                                    <input class="star star-4-dl" id="star-4-dl" type="radio" name="star-dl" value="4"/>
                                                    <label class="star star-4-dl" for="star-4-dl"></label>
                                                    <input class="star star-3-dl" id="star-3-dl" type="radio" name="star-dl" value="3"/>
                                                    <label class="star star-3-dl" for="star-3-dl"></label>
                                                    <input class="star star-2-dl" id="star-2-dl" type="radio" name="star-dl" value="2"/>
                                                    <label class="star star-2-dl" for="star-2-dl"></label>
                                                    <input class="star star-1-dl" id="star-1-dl" type="radio" name="star-dl" value="1"/>
                                                    <label class="star star-1-dl" for="star-1-dl"></label>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="col-md-4">
                                            <label class="control-label">Communication</label>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="stars communication" data-value="{{provider.rateCommunication}}">

                                                    <input class="star star-5-c" id="star-5-c" type="radio" name="star-c" value="5"/>
                                                    <label class="star star-5-c" for="star-5-c"></label>
                                                    <input class="star star-4-c" id="star-4-c" type="radio" name="star-c" value="4"/>
                                                    <label class="star star-4-c" for="star-4-c"></label>
                                                    <input class="star star-3-c" id="star-3-c" type="radio" name="star-c" value="3"/>
                                                    <label class="star star-3-c" for="star-3-c"></label>
                                                    <input class="star star-2-c" id="star-2-c" type="radio" name="star-c" value="2"/>
                                                    <label class="star star-2-c" for="star-2-c"></label>
                                                    <input class="star star-1-c" id="star-1-c" type="radio" name="star-c" value="1"/>
                                                    <label class="star star-1-c" for="star-1-c"></label>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="col-md-4">
                                            <label class="control-label">Esprit de partenariat </label>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="stars partnership" data-value="{{provider.ratePartnership}}">

                                                    <input class="star star-5-ep" id="star-5-ep" type="radio" name="star-ep" value="5"/>
                                                    <label class="star star-5-ep" for="star-5-ep"></label>
                                                    <input class="star star-4-ep" id="star-4-ep" type="radio" name="star-ep" value="4"/>
                                                    <label class="star star-4-ep" for="star-4-ep"></label>
                                                    <input class="star star-3-ep" id="star-3-ep" type="radio" name="star-ep" value="3"/>
                                                    <label class="star star-3-ep" for="star-3-ep"></label>
                                                    <input class="star star-2-ep" id="star-2-ep" type="radio" name="star-ep" value="2"/>
                                                    <label class="star star-2-ep" for="star-2-ep"></label>
                                                    <input class="star star-1-ep" id="star-1-ep" type="radio" name="star-ep" value="1"/>
                                                    <label class="star star-1-ep" for="star-1-ep"></label>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="ring-provider">
                                            <label for="">Ring : </label> {{provider.ring}} %
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer text-center">
                                <button type="submit" class="btn btn-info btn-fill"><i class="fa fa-edit"></i> Mettre à jour</button>
                            </div>
                        {{ form_end(edit_form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
