{% extends 'base.html.twig' %} 
{% block title %}{{'provider.page.title'|trans}}{% endblock %}
{% block body %}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <span id="locale" data-locale="{{ app.request.locale }}"></span>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{path('app_default_index')}}">{{'breadcrumb.home'|trans}}</a></li>
                    <li class="breadcrumb-item"><a href="{{path('provider_index')}}">{{'provider.breadcrumb.providers'|trans}}</a></li>
                </ol>
                <div class="card">
                    <div class="content providers">
                        <h4 class="title"><i class="fa fa-list"></i> {{'provider.index.title'|trans}}
                        {% if is_granted('ROLE_USER') %}
                            <a href=" {{path('provider_new')}} " class="btn btn-primary pull-right"><i class="fa fa-plus"></i> {{'btn.new'|trans}} </a>
                        {% endif %}
                        </h4>
                        <div class="toolbar">
                            <!--        Here you can write extra buttons/actions for the toolbar              -->
                        </div>
                        <div class="material-datatables">
                            <table id="datatables" class="table table-striped table-no-bordered table-hover" style="width:100%;cellspacing:0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>{{'provider.label.name'|trans}}</th>
                                        <th>{{'provider.label.society'|trans}}</th>
                                        <th>{{'provider.label.activity'|trans}}</th>
                                        <th>{{'provider.label.address'|trans}}</th>
                                        <th>{{'provider.label.tel'|trans}}</th>
                                        <th>{{'provider.label.email'|trans}}</th>
                                        <th>Ring</th>
                                        <th>{{'label.status'|trans}}</th>
                                        <th class="disabled-sorting text-center">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for p in providers %}
                                    <tr>
                                        <td>{{p.id}}</td>
                                        <td>{{p.name}}</td>
                                        <td>{{p.society ? p.society : '---'}}</td>
                                        <td>{{p.activity ? p.activity : '---' }}</td>
                                        <td>{{p.address ? p.address : '---' }}</td>
                                        <td>{{p.tel ? p.tel : '---'}}</td>
                                        <td>{{p.email ? p.email : '---'}}</td>
                                        <td>{% if p.ring %} {{p.ring}} % {% else %} --- {% endif %}</td>
                                        <td>{{p.active == 1 ? 'Active' : 'Inactive'}}</td>
                                        <td class="text-right">
                                            <a href="{{ path('provider_edit', { 'id': p.id }) }}" title="Modifier" class="btn btn-simple btn-warning btn-icon btn-fill edit"><i class="ti-pencil-alt"></i></a>

                                            <button data-id="{{ p.id }}" title="{{ p.active == 0 ? 'Supprimer' : 'Vueillez désactiver pour pouvoir supprimer' }}" class="btn btn-simple btn-danger btn-icon btn-fill remove-provider {{p.active == 1 ? 'prevent-remove' : ''}}" {{p.active == 1 ? 'disabled' : ''}}><i class="ti-close"></i></button>
                                            <span id="csrf_token" data-token="{{ csrf_token('form') }}"></span>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>#</th>
                                        <th>{{'provider.label.name'|trans}}</th>
                                        <th>{{'provider.label.society'|trans}}</th>
                                        <th>{{'provider.label.activity'|trans}}</th>
                                        <th>{{'provider.label.address'|trans}}</th>
                                        <th>{{'provider.label.tel'|trans}}</th>
                                        <th>{{'provider.label.email'|trans}}</th>
                                        <th>Ring</th>
                                        <th>{{'label.status'|trans}}</th>
                                        <th class="text-right">Actions</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                    <!-- end content-->
                </div>
                <!--  end card  -->
            </div>
            <!-- end col-md-12 -->
        </div>
    </div>
</div>

{% endblock %}