{% extends 'base.html.twig' %}

{% block body %}
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="card">
                        {{ form_start(edit_form) }}
                            <div class="content">
                                <h4 class="title text-center">Create package</h4>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-4">
                                            {{ form_label(edit_form.name, "Name", {'label_attr': {'class': 'control-label'}}) }}
                                        </div>
                                        <div class="col-md-8">
                                            {{ form_widget(edit_form.name, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(edit_form.name) }} 
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-4">
                                            {{ form_label(edit_form.size, "Size", {'label_attr': {'class': 'control-label'}}) }}
                                        </div>
                                        <div class="col-md-8">
                                            {{ form_widget(edit_form.size, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(edit_form.size) }} 
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-4">
                                            {{ form_label(edit_form.cbm, "CMB", {'label_attr': {'class': 'control-label'}}) }}
                                        </div>
                                        <div class="col-md-8">
                                            {{ form_widget(edit_form.cbm, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(edit_form.cbm) }} 
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-4">
                                            {{ form_label(edit_form.marineCost, "Marine cost", {'label_attr': {'class': 'control-label'}}) }}
                                        </div>
                                        <div class="col-md-8">
                                            {{ form_widget(edit_form.marineCost, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(edit_form.marineCost) }} 
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-4">
                                            {{ form_label(edit_form.airCost, "Air cost", {'label_attr': {'class': 'control-label'}}) }}
                                        </div>
                                        <div class="col-md-8">
                                            {{ form_widget(edit_form.airCost, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(edit_form.airCost) }} 
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-4">
                                            {{ form_label(edit_form.active, "Active", {'label_attr': {'class': 'control-label'}}) }}
                                        </div>
                                        <div class="col-md-8">
                                            {{ form_widget(edit_form.active, {'attr': {'class': '', 'checked':'ckecked'}}) }}
                                            {{ form_errors(edit_form.active) }} 
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer text-center">
                                <button type="submit" class="btn btn-info btn-fill"><i class="fa fa-plus"></i> Add pachage</button>
                            </div>
                        {{ form_end(edit_form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
