{% extends 'base.html.twig' %}
{% block title %}Emballage{% endblock %}
{% block body %}
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="card">
                        {{ form_start(form) }}
                            <div class="content">
                                <h4 class="title text-center">Ajouter un emballage</h4>
                                <div class="form-group {{ form_errors(form.name) ? 'has-error': '' }}">
                                    <div class="row">
                                        <div class="col-md-4">
                                            {{ form_label(form.name, "Nom", {'label_attr': {'class': 'control-label'}}) }}
                                        </div>
                                        <div class="col-md-8">
                                            {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                                            <span class="help-block">{{ form_errors(form.name) }} </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group {{ form_errors(form.size) ? 'has-error': '' }}">
                                    <div class="row">
                                        <div class="col-md-4">
                                            {{ form_label(form.size, "Taille", {'label_attr': {'class': 'control-label'}}) }}
                                        </div>
                                        <div class="col-md-8">
                                            {{ form_widget(form.size, {'attr': {'class': 'form-control'}}) }}
                                            <span class="help-block">{{ form_errors(form.size) }} </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group {{ form_errors(form.cbm) ? 'has-error': '' }}">
                                    <div class="row">
                                        <div class="col-md-4">
                                            {{ form_label(form.cbm, "CMB", {'label_attr': {'class': 'control-label'}}) }}
                                        </div>
                                        <div class="col-md-8">
                                            {{ form_widget(form.cbm, {'attr': {'class': 'form-control'}}) }}
                                            <span class="help-block">{{ form_errors(form.cbm) }} </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group {{ form_errors(form.marineCost) ? 'has-error': '' }}">
                                    <div class="row">
                                        <div class="col-md-4">
                                            {{ form_label(form.marineCost, "Fret Maritime", {'label_attr': {'class': 'control-label'}}) }}
                                        </div>
                                        <div class="col-md-8">
                                            {{ form_widget(form.marineCost, {'attr': {'class': 'form-control'}}) }}
                                            <span class="help-block">{{ form_errors(form.marineCost) }} </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group {{ form_errors(form.airCost) ? 'has-error': '' }}">
                                    <div class="row">
                                        <div class="col-md-4">
                                            {{ form_label(form.airCost, "Air Fret", {'label_attr': {'class': 'control-label'}}) }}
                                        </div>
                                        <div class="col-md-8">
                                            {{ form_widget(form.airCost, {'attr': {'class': 'form-control'}}) }}
                                            <span class="help-block">{{ form_errors(form.airCost) }} </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group {{ form_errors(form.active) ? 'has-error': '' }}">
                                    <div class="row">
                                        <div class="col-md-4">
                                            {{ form_label(form.active, "Active", {'label_attr': {'class': 'control-label'}}) }}
                                        </div>
                                        <div class="col-md-8">
                                            <label class="checkbox">
                                                <span class="icons">
                                                <span class="first-icon fa fa-square"></span>
                                                <span class="second-icon fa fa-check-square "></span>
                                                {{ form_widget(form.active, {'attr': {'class': ''}}) }}
                                            </label>
                                            <span class="help-block">{{ form_errors(form.active) }} </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer text-center">
                                <button type="submit" class="btn btn-info btn-fill"><i class="fa fa-plus"></i> Ajouter</button>
                            </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}