{% extends 'base.html.twig' %}

{% block body %}
    <h1>Imageproducts list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Productid</th>
                <th>Path</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for imageProduct in imageProducts %}
            <tr>
                <td><a href="{{ path('imageproduct_show', { 'id': imageProduct.id }) }}">{{ imageProduct.id }}</a></td>
                <td>{{ imageProduct.productId }}</td>
                <td>{{ imageProduct.path }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('imageproduct_show', { 'id': imageProduct.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('imageproduct_edit', { 'id': imageProduct.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('imageproduct_new') }}">Create a new imageProduct</a>
        </li>
    </ul>
{% endblock %}
