{% extends 'base.html.twig' %}
{% block title %}Accueil{% endblock %}
{% block body %}

<div class="content">
    <div class="container-fluid">
        <div class="row">
			<div class="col-md-12">
				{% if app.session.started %}
				    {% for flashMessage in app.session.flashbag.get('passwordChanged') %}
				        <div class="alert alert-{{ flashMessage.alert }} alert-dismissible" role="alert">
				            <button type="button" class="close" data-dismiss="alert">
				                <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
				            </button>
				            <strong>{{ flashMessage.title }}</strong> {{ flashMessage.message }}
				        </div>
				    {% endfor %}
				{% endif %}
				
				<div class="home-interface">
					{% if is_granted('ROLE_ADMIN') %}
						<img src="{{ asset('assets/img/admin-bg.jpg') }}" class="img-responsive" alt="">
					{% else %}
						<img src="{{ asset('assets/img/user-bg.jpg') }}" class="img-responsive" alt="">
					{% endif %}
					<div class="welcome-text">
						<h2 class="text-center">
							{{'home.welcome_text'|trans}}
						</h2>
					</div>
				</div>
				{% if is_granted('ROLE_ADMIN') %}
					<div class="admin-icon">
						<div class="row">
							<div class="col-md-3">
								<div class="admin-item">
									<div class="icon">
										<a href="{{path('product_index')}}">
											<img src="{{ asset('assets/img/search-icon.png') }}" class="img-responsive" alt="">
											<p class="search-title">{{'home.icon.product_search'|trans}}
											</p>
										</a>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="admin-item">
									<div class="icon"> 
										<a href="{{path('product_new')}}">
											<img src="{{ asset('assets/img/product-icon.png') }}" class="img-responsive" alt="">
											<p>
												{{'home.icon.product_new'|trans}}
											</p>
										</a>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="admin-item">
									<div class="icon">
										<a href="{{path('user_default_index')}}">
											<img src="{{ asset('assets/img/user-icon.png') }}" class="img-responsive" alt="">
											<p>
												{{'home.icon.user_list'|trans}}
											</p>
										</a>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="admin-item">
									<div class="icon">
										<a href="#">
											<img src="{{ asset('assets/img/mp-wiki-icon.png') }}" class="img-responsive" alt="">
											<p>MP Wiki</p>
										</a>
									</div>
								</div>
							</div>
						</div>	
					</div>
				{% else %}
					<div class="user-icon">
						<div class="row">
							<div class="col-md-4">
								<div class="user-item">
									<div class="icon">
										<a href="{{path('product_index')}}">
											<img src="{{ asset('assets/img/search-icon.png') }}" class="img-responsive" alt="">
											<p class="search-title">{{'home.icon.product_search'|trans}}</p>
										</a>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="user-item">
									<div class="icon">
										<a href="{{path('product_new')}}">
											<img src="{{ asset('assets/img/product-icon.png') }}" class="img-responsive" alt="">
											<p>{{'home.icon.product_new'|trans}}</p>
										</a>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="user-item">
									<div class="icon">
										<a href="#">
											<img src="{{ asset('assets/img/mp-wiki-icon.png') }}" class="img-responsive" alt="">
											<p>MP Wiki</p>
										</a>
									</div>
								</div>
							</div>
						</div>	
					</div>
				{% endif %}
			</div>
        </div>
    </div>
</div>

{% endblock %}
